spring:
  main:
    web-application-type: none

  application:
    name: KotlinBot

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/discordbot_db}
    username: ${DB_USERNAME:discordbot}
    password: ${DB_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:validate}
    show-sql: ${SHOW_SQL:false}

discord:
  token: ${DISCORD_TOKEN:}

jda:
  intents: ${JDA_INTENTS:}

botcommands:
  owners: ${BOTCOMMANDS_OWNERS:}
  prefixes:
